/* CUSTOM CSS ========================================================================== */
// This section is for custom CSS changes applied to MyView dashboard.
//
// ANY CSS/LESS APPLIED HERE MAY RESULT IN BREAKING MYVIEW DASHBOARD.
// WE DO NO SUPPORT ANY ISSUES CAUSED BY YOUR OWN CSS/LESS CHANGES.
/* ===================================================================================== */

header.navbar {
border-top:  50px solid #ed1c24;   
border-bottom: 0px;
padding-top:10px   ;
padding-bottom:10px;
}

.pace .pace-progress {
    height: 0px;
    background: #fff;   
}

footer.navbar .navbar-text {
    // font-size: 1em;
    font-weight:bold;   
    color: #fff;
}

body {
    // font-family: 'Arial', 'Helvetica','Segoe UI',sans-serif;
    font: normal 14px/1.333 arial, helvetica, sans-serif;
    color: #252525;       
    // color: #000;
    // font-size:11px;
    background-color: #FFF;
}


#wrapper.login > .main-container > .main-panel .login-form > div .form-group > label
{
    color:#252525;
}

#wrapper.login > .main-container > .main-panel .login-form > div a:not(.btn)
{
    color:#252525;
}

#wrapper.login > .main-container > .main-panel .login-form h3, #wrapper.login > .main-container > .main-panel .login-form .h3
{
    color:#252525;
}

body:not(.accessibilityMode) #wrapper.login > .main-container > .main-panel .login-form > div .toggle-switch > label
{
    color:#252525;
}

#wrapper.login > .main-container > .main-panel .login-form > div .btn-success
{
background-color: #ed1c24;
}

.toggle-switch > input:checked ~ label:before
{
    background: #ed1c24;
}

header.navbar .navbar-header .navbar-brand > .fa-home
{
    color:#ed1c24;
}

header.navbar .navbar-header .navbar-brand
{
    // -moz-transition: none;
    // -webkit-transition: none;
    // -o-transition: color 0 ease-in;
    // transition: none;

}

header.navbar .navbar-header .navbar-brand:Hover
{
    // -moz-transition: none;
    // -webkit-transition: none;
    // -o-transition: color 0 ease-in;
    // transition: none;

}